<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title th:text="#{doener.liste.titel}">Benutzerliste</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div th:replace="~{fragments/kopffuss :: kopf}"></div>

    <h1 th:text="#{doener.liste.titel}">Benutzerliste</h1>

    <table>
        <thead>
            <tr>
                <th th:text="#{doener.liste.spalte.id}">ID</th>
                <th th:text="#{doener.liste.spalte.bezeichnung}">Bezeichnung</th>
                <th th:text="#{doener.liste.spalte.preis}">Preis</th>
                <th th:text="#{doener.liste.spalte.vegetarizitaet}">Vegetarizität</th>
                <th th:text="#{doener.liste.spalte.bestand}">Bestand</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="d : ${doenerliste}">
                <td th:text="${d.id}"></td>
                <td th:text="${d.bezeichnung}"></td>
                <td th:text="${d.preis}"></td>
                <td th:text="${d.vegetarizitaet} + ' = ' + #{__'doener.vegetarizitaet.' + ${d.vegetarizitaet}__}"></td>
                <td th:text="${d.bestand}"></td>
                <td>
                    <a th:href="@{'/doener/' + ${d.id}}" th:text="#{doener.liste.spalte.bearbeiten}">Bearbeiten</a>
                    |
                    <a th:href="@{'/doener/' + ${d.id} + '/delete'}"
                        th:text="#{doener.liste.spalte.loeschen}">Löschen</a>
                </td>
            </tr>
        </tbody>
    </table>

    <a th:href="@{/doener/0}" class="btn btn-primary" th:text="#{doener.liste.neudoener}">Zurück zur Liste</a>
    <a th:href="@{/doener/erfinden}" class="btn btn-primary" th:text="#{doener.liste.erfinden}">Doener erfinden</a>
    <div th:replace="~{fragments/kopffuss :: fuss}"></div>
</body>

</html>